<div class="col-xs-10 col-xs-offset-1 about">
   <div class="col-xs-12 col-sm-4">
    <%= image_tag 'mongol.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Mongol Charlie</h2>
    <br />
    <p>
   noun
1.
a native or inhabitant of Mongolia; a Mongolian.
2.
the language of the Mongols; Mongolian.
adjective
1.
relating to the people of Mongolia or their language.
    </p>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

